<!--
  Generated template for the TabHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
   <button ion-button menuToggle="left" ><ion-icon name="menu"></ion-icon></button>
    <ion-title>หน้าหลัก</ion-title>

<ion-buttons right> 
    <button ion-button icon-only *ngIf="!checkLoginStatus">{{usernameLogin}}</button>

<div *ngIf="checkLoginStatus">
    <button ion-button icon-only (click)="login()" >
      <ion-icon name="unlock"></ion-icon>Login
    </button>
    <button ion-button icon-only (click)="register()" >
      <ion-icon name="create"></ion-icon>Register
    </button>
</div>

</ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content >



<ion-slides pager autoplay="3000" loop>
  <ion-slide >
    <img src="assets/imgs/sea1.jpg" alt="">
  </ion-slide>
  <ion-slide >
    <img src="assets/imgs/sea2.jpg" alt="">
  </ion-slide>
  <ion-slide >
    <img src="assets/imgs/sea3.jpg" alt="">
  </ion-slide> 
</ion-slides>

<!-- แสดงรูปที่ถ่ายหรือเลือกจาก Gallery -->
<img src="{{base64Image}}" alt="">

<ion-grid>
  <ion-row>
    <ion-col>
      <p><ion-icon name="camera" (click)="takecamera()"></ion-icon></p>
      Camera
    </ion-col>
    <ion-col (click)="choose()">
      <p><ion-icon name="images"></ion-icon></p>
      Gallery
    </ion-col>
    <ion-col (click)="showmap()">
      <p><ion-icon name="map"></ion-icon></p>
      Show Map
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col>
        <p><ion-icon name="arrow-down"></ion-icon></p>
        MENU4
      </ion-col>
      <ion-col>
        <p><ion-icon name="arrow-back"></ion-icon></p>
        MENU5
      </ion-col>
      <ion-col>
        <p><ion-icon name="arrow-back"></ion-icon></p>
        MENU6
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <p><ion-icon name="heart"></ion-icon></p>
          MENU7
        </ion-col>
        <ion-col>
          <p><ion-icon name="map"></ion-icon></p>
          MENU8
        </ion-col>
        <ion-col>
          <p><ion-icon name="camera"></ion-icon></p>
          MENU9
        </ion-col>
      </ion-row>
</ion-grid>

</ion-content>