page-tab-home {
 ion-slides{
     height: 30vh;
 }
 ion-img{
     min-width: 100;
 }

 .col{
     background-color: #4CAF50;
     margin: 5px;
     text-align: center;
     padding-top: 0px;
     color: white;
     font-size: 20px;
     border-radius: 10px;
 }
 .col p{
     margin-bottom: 0px;
 }
 ion-icon{
     font-size: 40px;
 }
}
