.sideheader{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.sideheader img {

    width: 150px;
    height: 150px;
    border-radius: 50%

}
.sideheader h2{
   
  //  margin-bottom: 0px;

}

.sideheader p {
    margin-top: 0px;
}